
*{
    margin: 0 !important;
}
.project-box {
    overflow: hidden;
    background-color: #D0A2F7;
    border-radius: 50%; /* Mengatur sudut border */
    position: relative;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan untuk efek 3D */
}
h1{
    font-family: sans-serif;
    font-size: large;
}
.name{
    font-family: sans-serif;
    font-size: 50px;
}
.home{
    background-color: #F1EAFF;
    margin: 0 !important;
    padding: 0;
    height: auto;
}
.row{
    padding-top: 20px;
    padding-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.opening {
    display: flex;
    flex-direction: column; /* Menentukan arah kolom */
    align-items: center; /* Pusatkan elemen horizontal */
}
.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%; /* Membuat elemen berbentuk lingkaran */
    background-color: #7855a4; /* Warna latar belakang lingkaran */
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconMenu{
    color: white;
}


/* CSS About Me */
.text-container{
    background-color: #D0A2F7;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}
.deskripsi{
    background-color: #e6d5f4;
    width: auto;
    text-align: justify;
    border-radius: 10px;
}
.skills{
    background-color: #e6d5f4;
    text-align: left;
    border-radius: 10px;
    display: flex;
}

/* CSS Contact */
.homeContact{
    background-color: #F1EAFF;
    margin: 0 !important;
    padding: 0;
    height: auto;
}
.containerContact{
    background-color: #D0A2F7;
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: auto;
}
.circle {
    transition: transform 0.3s ease-in-out; /* Efek transisi agar perubahan terlihat mulus */
  }
  
  .circle:hover {
    transform: scale(1.2); /* Memperbesar elemen saat dihover */
  }